<!-- C# 관련 코드들 -->
@page "/login"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.Circuits
@inject UserService userService
@inject ILogger<Login> logger
@inject AuthStateProvider authState
@inject NavigationManager navigation

<PageTitle>Login</PageTitle>

<div class="login-container">
    
    <!-- 대문자 태그는 C# 전용이니 비슷한걸로 바꿔주세요 -->
    <!-- 여기서 EditForm은 자동으로 유효성 체크해주는 Form 클래스입니다. -->
    <EditForm Model="loginUser" OnValidSubmit="HandleSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        @if (string.IsNullOrEmpty(errorMessage) == false)
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }

        <div class="mb-3"> <!-- UserID -->
            <label for="inputUserId" class="form-label">User ID</label>
            <InputText class="form-control" id="inputUserId" @bind-Value="loginUser.UserId" placeholder="Enter your user ID" />
            <ValidationMessage For="@(() => loginUser.UserId)" class="validation-message" />
        </div>

        <div class="mb-3"> <!-- Password -->
            <label for="inputPassword" class="form-label">Password</label>
            <InputText type="password" class="form-control" id="inputPassword" @bind-Value="loginUser.Password" placeholder="Enter your password" />
            <ValidationMessage For="@(() => loginUser.Password)" class="validation-message" />
        </div>
    
        <button class="btn btn-primary" type="submit">Login</button>

    </EditForm>
</div>


@code {
    private LoginDto loginUser = new LoginDto();
    private string? errorMessage = null;

    private async Task HandleSubmit()
    {
        var result = await userService.LoginAsync(loginUser);
        if (result.IsSuccess)
        {
            authState.Login(loginUser.UserId);
            navigation.NavigateTo("/");
        }
        else
        {
            logger.LogInformation(result.ErrorMessage);
            errorMessage = result.ErrorMessage;
        }
    }
}
