@page "/profile"

@inject ILogger<Profile> logger
@inject UserService UserService
@inject AuthStateProvider authState

@if (profile == null)
{
    <h3> Something went wrong </h3>
}
else
{
    <h1> Profile </h1>
    <br>
    <h3> your nick name is @profile.Nickname </h3>
}

@code {
    ProfileDto? profile = null;

    protected override async Task OnInitializedAsync()
    {
        string? userId = authState.GetUserId();

        if (userId != null)
        {
            profile = await UserService.GetProfileAsync(userId);
        }
    }
}
